@model Cars.ViewModels.VehicleMakeVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    @using (Html.BeginForm("Delete", "VehicleMakes"))
    {
        <div class="form-group col-lg-4">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div class="form-group col-lg-4">
            @Html.LabelFor(m => m.Abrv)
            @Html.TextBoxFor(m => m.Abrv, new { @class = "form-control" })
        </div>
    }


        <form asp-action="Delete">
            <input type="hidden" asp-for="MakeId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    
</div>
